<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>123123123</title>
    <link rel="stylesheet" href="/static/style.css">
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>CPU</th>
                    <th>Memory</th>
                    <th>Disk I/O Read (MB)</th>
                    <th>Disk I/O Write (MB)</th>
                    <th>Network In (MB)</th>
                    <th>Network Out (MB)</th>
                    <th>Disk Space (GB)</th>
                    <th>Max RAM (MB)</th>
                    <th>Autostart</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vm in vms %}
                <tr class="{{ 'running' if vm.status == 'running' else 'stopped' }}">
                    <td>{{ vm.vmid }}</td>
                    <td>{{ vm.name }}</td>
                    <td>{{ vm.status }}</td>
                    <td>{{ "%.2f" | format(vm.cpu * 100) }}%</td>
                    <td>{{ "%.2f" | format(vm.mem / vm.maxmem * 100) if vm.maxmem else 0 }}%</td>
                    <td>{{ vm.diskread_mb }}</td>
                    <td>{{ vm.diskwrite_mb }}</td>
                    <td>{{ vm.netin_mb }}</td>
                    <td>{{ vm.netout_mb }}</td>
                    <td>{{ vm.maxdisk_gb }}</td>
                    <td>{{ vm.maxmem_mb }}</td>
                    <td>{{ vm.onboot }}</td>
                    <td>
                        <form method="post" action="{{ url_for('vm_control', vmid=vm.vmid) }}">
                            <select name="action">
                                <option value="start">Start</option>
                                <option value="shutdown">shutdown</option>
                                <option value="reboot">reboot</option>
                                <option value="stop">Force Stop</option>
                            </select>
                            <input type="submit" value="Execute">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('set_vm_onboot', vmid=vm.vmid) }}">
                            <select name="state">
                                <option value="True" {% if vm.onboot %}selected{% endif %}>Enable</option>
                                <option value="False" {% if not vm.onboot %}selected{% endif %}>Disable</option>
                            </select>
                            <input type="submit" value="Set">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
